<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  {{$curLanguageName := .Site.Language.LanguageName }}

  <body>
    <article class="posts">
      <div class="row">
        <div
          class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"
        >
          <header>
            <div class="signatures site-title">
              <a href="{{ .LanguagePrefix }}/">{{ .Site.Author.name }}</a>
            </div>
            {{ range.Site.Params.socials }}
            <div class="header-item">
              <a href="{{ .link }}">{{ .name }}</a>
            </div>
            {{ end }}
          </header>
          <div id="posts-list">
            {{ range (where .Data.Pages "Type" "posts").GroupByDate "2006" -}}
            <section>
              <h1 class="site-date-catalog">{{ .Key }}</h1>

              {{ range .Pages -}} {{ if eq .Type "posts" }}
              <div class="row post-line">
                <div class="posts-title col-xs-12">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </div>
              </div>
              {{ end }} {{ end }}
            </section>
            {{ end }}
          </div>

          <div class="posts-footer"></div>
        </div>
      </div>
    </article>

    {{ partial "scripts.html" . }}
  </body>
</html>
